{% extends 'index.html' %}

{% block title%}
mac book
{% endblock %}

{% block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="bg-info
text-white text-center py-3">
 <h1>Welcome to i-kart </h1>
</header>
<div class="container mt-4">
 <div class="row">
   <div class="col-md-4">
     <a href="" style="text-decoration: none">
     <div class="card hoverable">
       <img
         src="https://m.media-amazon.com/images/I/71TPda7cwUL._AC_UY218_.jpg"
         alt="Product 1" class="card-img-top">
       <div class="card-body ">
         <h5 class="card-title" > Apple 2020 MacBook Air with M1 chip </h5>
         <p class="card-text">₹80,999</p>
       </a>
         <a href="#" class="btn btn-primary">Add to Cart</a>
       </div> 
     </div>
   </div>
   <div class="col-md-4">
     <div class="card">
       <a href="" style="text-decoration: none" >
       <img
         src="https://m.media-amazon.com/images/I/71S4sIPFvBL._AC_UY218_.jpg"
         alt="Product 2" class="card-img-top">
       <div class="card-body">
         <h5 class="card-title">Apple 2023 MacBook Air with M2 chip </h5>
         <p class="card-text"> ₹1,35,999</p>
       </a>
         <a href="#" class="btn btn-primary">Add to Cart</a>
       </div>
     </div>
   </div>
   <div class="col-md-4">
     <div class="card">
       <a href="" style="text-decoration: none;">
       <img
         src="https://m.media-amazon.com/images/I/71f5Eu5lJSL._AC_UY218_.jpg"
         alt="Product 3" class="card-img-top">
       <div class="card-body">
         <h5 class="card-title ">Apple 2022 MacBook Air with M2 chip</h5>
         <p class="card-text"> ₹1,04,999</p>
       </a>
         <a href="#" class="btn btn-primary">Add to Cart</a>
       </div>
     </div>
   </div>
 </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

{% endblock %}
</body>
</html>