{% extends 'index.html' %}

{% block title%}
About E-kart
{% endblock %}

{% block content%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="_1EQH8l">
        <div class="row xkF4db">
            <h1 class="icmw6p">i-kart Help Center | 24x7 Customer Care Support</h1>
            <div class="col gu12 _1c0opE _3KOUnI">
                <div class="_1D76KH">
                    <p>The i-kart Help Centre page lists out various types of issues that you may have encountered so
                        that there can be quick resolution and you can go back to shopping online. For example, you can
                        get more information regarding order tracking, delivery date changes, help with returns (and
                        refunds), and much more. The i-kart Help Centre also lists out more information that you may
                        need regarding i-kart Plus, payment, shopping, and more. The page has various filters listed out
                        on the left-hand side so that you can get your queries solved quickly, efficiently, and without
                        a hassle. You can get the i-kart Help Centre number or even access i-kart Help Centre support if
                        you need professional help regarding various topics. The support executive will ensure speedy
                        assistance so that your shopping experience is positive and enjoyable.
                        You can even inform your loved ones of the support page so that they can properly get their
                        grievances addressed as well. Once you have all your queries addressed, you can pull out your
                        shopping list and shop for all your essentials in one place. You can shop during festive sales
                        to get your hands on some unbelievable deals online. This information is updated on 06-Sep-23
                    </p>
                </div>
            </div>
        </div>
        <div class="_3UHsyr _1TsLHH">
            <span class="_2GryRX"> <b>
                    <h4> <u> TYPE OF ISSUE </u> </h4>
                </b>
            </span>
        </div>
        <div class="_3E8aIl rZiS2Y _1Ct1i0 d-flex " style="flex-direction: row;">
            <div class="row">

                <div class="col-lg-2">
                    <div>
                        <div class="ogkecu A2ZSS0"><span><span>Help with your issues</span></span></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div>
                        <div class="ogkecu A2ZSS0"><span><span>Help with your order</span></span></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div>
                        <div class="ogkecu A2ZSS0"><span><span>Help with other issues</span></span></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="_10Saso"></div><span class="_2GryRX">Help Topics</span>
                </div>
                <div class="col-lg-2">
                    <div>
                        <div class="ogkecu A2ZSS0"><span>Delivery related</span></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div>
                        <div class="ogkecu A2ZSS0 yjrc6N"><span>Cancellations and Returns<br></span></div>
                        <div class="_2zpVuy" style="height: 0px;"></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="ogkecu A2ZSS0"><span>Payment</span></div>
                </div>
                <div class="col-lg-2">
                    <div class="ogkecu A2ZSS0"><span>Shopping</span></div>
                </div>
                <div class="col-lg-2">
                    <div class="ogkecu A2ZSS0"><span>Wallet</span></div>
                </div>
                <div class="col-lg-2">
                    <div class="ogkecu A2ZSS0"><span>Others</span></div>
                </div>
                <div class="col-lg-2">
                    <div class="ogkecu A2ZSS0"><span>Insurance</span></div>
                </div>
                <div class="col-lg-2">
                    <div class="ogkecu A2ZSS0"><span>i-kart Quick</span></div>
                </div>
                <div class="col-lg-2">
                    <div class="ogkecu A2ZSS0"><span>i-kart Pay Later</span></div>
                </div>
                <div class="col-lg-2">
                    <div class="ogkecu A2ZSS0"><span>i-kart Travel</span></div>
                </div>
                <div class="col-lg-2">
                    <div class="ogkecu A2ZSS0"><span>Electric Vehicle </span></div>
                </div>
                <div class="col-lg-2">
                    <div class="ogkecu A2ZSS0"><span>Flipkart Plus</span></div>
                </div>
                <div class="col-lg-2">
                    <div class="ogkecu A2ZSS0"><span>Help Center</span></div>
                </div>
            </div>
        </div>

</body>

</html>
{% endblock %}